@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>
@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer isn't licensed to fix any machines yet.</p>
}
else
{
  <h4>Machines this engineer is licensed to fix: 
    <ul>
      @foreach(var join in Model.JoinEntities)
      {
        <li>@join.Machine.MachineName</li>
        @using (Html.BeginForm("DeleteMachine", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete"/>
        }
      }
    </ul> 
  </h4>
  <br />
  <h4>HireDate
    @Html.HiddenFor(model => model.EngineerId)
    @Html.DisplayFor(model => model.HireDate.Month)/@Html.DisplayFor(model => model.HireDate.Day)/@Html.DisplayFor(model => model.HireDate.Year)</h4>
}
<p>@Html.ActionLink("Back to Engineers List", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>