@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Dr. SillyStringz's Factory</h1>
</div>
@{
  Layout = "_Layout";
}

@using Factory.Models;
@* @model List<Factory.Models.Engineer>; *@

<div class="jumbotron">
  <h1>Engineers</h1>
</div>

@if (@Model.JoinEntities.Count == 0)
{
  <h3> No engineers have been licensed yet.</h3>
}

<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>
  }
</ul>
<p>@Html.ActionLink("Add new student", "Create")</p>
<hr />



<div class="jumbotron">
  <h1>Machines</h1>
</div>

@if (@Model.JoinEntities.Count == 0)
{
  <h3> No machines need to be fixed!</h3>
}

<ul>
@foreach (var join in Model.JoinEntities)
{
  <li>@Html.ActionLink($"{machine.MachineName}")</li>
}
</ul>

<button class="btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>
<button class="btn-warning">@Html.ActionLink("See all Engineers", "Index", "Engineers")</button>
<button class="btn-warning">@Html.ActionLink("Show all Machines", "Index", "Machines")</button>
